.accordion {
    .accordion-arrow {
        display: inline-block;
        width: 24px;
        height: 24px;
        background-color: $gray-200;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            transform: rotate(-90deg);
            color: $gray-600;
            font-size: 0.75rem;
            transition: all 0.2s linear;
        }
    }

    .card {
      
        border-width: 0px;
    }
    .card-body {
        border-bottom:1px solid $gray-300;
    }

    .card-header {
        padding:$card-spacer-x;
        cursor: pointer;

        .card-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0;
        }

        background-color: $card-cap-bg-collapsed;

        &.collapsed {
            background-color: $card-cap-bg;

            .accordion-arrow {
                i {
                    transform: rotate(90deg);
                    transition: all 0.2s linear;
                }
            }
        }
    }

    .card-body {
        background-color: $accordion-card-body-bg;
    }
}