.carousel-control-prev, .carousel-control-next {
	width:40px;
	height: 60px;
	top:calc(50% - 30px);
	background-color:transparent;
	border-radius:6px;
	background-color:$white;
	
	

	.carousel-control-prev-icon,
	.carousel-control-next-icon, {
		background-size: cover;
		// background:none;
		// background-repeat: no-repeat;
		// font-size:30px;
		// width:40px;
		// height: 30px;
		// color:$gray-500;
	}
	.carousel-control-prev-icon {
		background:url('/img/icon-prev.png') no-repeat;
	}
	.carousel-control-next-icon {
		background:url('/img/icon-next.png') no-repeat;
	}

}

.carousel-control-prev {
	   
	margin-left:20px;
}
.carousel-control-next  {
	    justify-content: flex-end;
	margin-right: 20px;
}
