.footer {
    background-color: $border;
    padding: 23px 20px 60px;

    p {
        color: $text-muted;
    }

    a {
        color: $red;
        display: block;
    }

    .footer-widget {
        font-size: 13px;
    }

    .footer-widget-2 {
        a {
            display: inline-block;
            width: 28px;
            height: 28px;
            margin-right: 15px;

            &:last-child {
                margin-right: 0px;
                margin-left:15px;
            }

            img {
            	height: auto;
                max-width: 100%;
            }
        }

        p {
            margin: 0;
            align-self: center;
            font-size: 15px;
        }
    }

    .footer-widget-3 {
    	a {
    		color:$text-muted;
    		text-align: left;
    	}
    }
}