.input-group {
	&.cart-item-control {
		width:80px;
		border:1px solid $gray-200;
		padding:4px;
		height: 36px;


		.form-control {
			border-width: 0px;
		}
		.btn {
			padding: 0;
			height: 20px;
			width: 20px;
			text-align: center;
			vertical-align: middle;
			i {
				font-size:12px;
				text-align: center;
				
			}
		}

		.cart-footer {
			border-width: 0px;
			background-color:$cart-footer;
		}
	}
}