.modal,
.custom-pills {
    .modal-header {
        background-color: $border;
        align-items: center;

        .modal-title {
            font-size: 24px;
            font-weight: 100;
        }
    }

    .modal-footer {
        background-color: $border;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    &.fade.show {
        background: rgba(0, 0, 0, 0.8);
    }

    .nav-pills {
        .nav-item {
            .nav-link {
                border: 1px solid $cart-footer;
                color: #5b5b5b;
                font-weight: 400;

                &.active {
                    color: $white;
                    border-color:transparent;
                }
            }

             &:first-child {
                .nav-link {
                    border-radius: 4px 0px 0px 4px ;
                    border-right-width: 0px;
                }
            }

            &:nth-child(2) {
                .nav-link {
                    border-radius: 0px;
                }
            }

            &:last-child {
                .nav-link {
                    border-radius: 0px 4px 4px 0px;
                    border-left-width: 0px;
                }
            }
        }
    }
}