.navbar {
    .navbar-nav {
        .nav-link {
            font-size: $font-size-base * 0.9286;
            color:$text;

            &:hover {
                color:$text;
            }
            &.active {
                color:$text-sidebar;
            }
        }
    }

    .input-group {
        padding: 6px 0px 6px 6px;
        background-color: $border;
        border-radius: 6px;

        .btn {
            border-width: 0px;
            color: $gray-500;
            background:$border;
            font-size: $font-size-base * 0.9286;
        }
    }
}

.topbar {
    .navbar-collapse {
        border-bottom: 1px solid $gray-200;
    }

    i {
        font-size: 60%;
        vertical-align: middle;
    }
}

.main-nav {
    .navbar-nav {
        .nav-link {
            font-size: $font-size-base;
        }
    }
}

.basket-group {
    padding-top: 1rem;

    .basket-link {
        vertical-align: middle;
        color:$text-sidebar;
 

        i {
            color: $text-sidebar;
            font-size: 1.5rem;
            vertical-align: middle;
            margin-right: 10px;
        }

        font-size: $font-size-base;
    }

    .basket-faq {
        font-size: 12px;
        margin-top: 5px;
    }

    .basket-link,
    .basket-faq {
        display: block;

        a {
            color: $text-sidebar;
           

            &:hover {
               
                color: $text-sidebar;
              
            }
        }
    }
}

.main-nav-mobile {
    .navbar-brand {
        text-align: center;

        img {
            width: 163px;
        }
    }

    .nav-link-shopping-cart {
        position: relative;
        padding-right: 15px;


        span {
            position: absolute;
            top: -8px;
            right:0px;
            color:$red;
            display: block;
            border-radius:100%;
            border:1px solid $red;
            width: 20px;
            height: 20px;
            text-align: center;
            vertical-align: middle;
        }
    }
}