.product-list-cart {
    border-top: 1px solid $gray-300;

    &:last-child {}

    .product-name {
        text-overflow: initial;
        max-width: initial;
        overflow: initial;
        white-space: initial;
    }

    .product-item-control {
        margin-top: 0;
    }

    .product-image {
        height: 90px;
        width:30px;

    }

    .product-price-label {
        text-align: left;
    }
}

.product-item-delete {
    img {
        width: 16px;
        height: 16px;
    }
}

.product-price-wrap {
	display: flex;
	justify-content:space-between;
	margin-top:0px;
	align-items:center;
	width:90%;
}

@include media-breakpoint-down(md) {
.product-price-wrap {
	width:100%;
	max-width: 350px;
	margin-top:2rem;
	justify-content:flex-start;
}

.product-item-delete {
	display: none;
}}
