.single-product {
	.product-item-control{

		.product-cart-button {
			background-color: $danger;
			background-image: url('/img/icon-basket2.png');
		}
	} 
    .product-rating-wrap {

        .product-your-rating {
            position: static;
            display: inline-block;
            margin-left:auto;
            margin-left:0.75rem;
        }
    } 
     .product-flag {
        position: absolute;
        top:15px;
        right: 0;
        width: 26px;
        height: auto;
    }
    .product-favourite {
        top:5px;
        font-size: 1rem;
    }

}

.product-magnifier {
    position: absolute;
    right: 15px;
    top: 45px;
    z-index: 2;
}

.product-carousel {
    img {
        height: 300px;
    }
}

.product-characteristic-wrap {
    margin-bottom: 0.5rem;

    p {
        margin-bottom: .25rem;
    }   

   
}

.product-share {
    &.product-share-small {
        img {
            width: 30px;
        }
    }
}