.irs-slider {
    &.from,
    &.to {
    	background:none;
    	background-color:$white;
    	border-radius:100%;
    	border:1px solid $border;
    	box-shadow:$thumbnail-box-shadow;
    	&:after {
    		content:"";
    		position: absolute;
    		width: 8px;
    		height: 8px;
    		display: block;
    		background-color: $range-slider-bg;
    		border-radius: 100%;
    		top: 6px;
   			 left: 5px;
    	}
    }
    &:hover {
    	&:after {
    		background-color:$component-active-bg;
    	}
    }
}