.br-wrapper {
	display: inline-block;
	vertical-align: sub;
	.br-widget {
		display: flex;
		a {
			font-size:24px;
			line-height: 21px;
			&.br-selected,
			&.br-active {
				&:after {
					color:$yellow;
				}
			}
			
		}
		.br-current-rating {
			margin-left: 10px;
		}
	}
}