.page-content {
    margin-top:25px;
}

.benefit-widget {
    a {
        height: 308px;
        padding-top: 49px;
        border-right: 1px solid $border;
        background-image: url("/img/dummy/dummy1.png");
        background-repeat: no-repeat;
        background-position: bottom left;
        box-sizing: border-box;
        border-bottom: 1px solid $border;
    }

    &:nth-child(2) a {
        background-image: url("/img/dummy/dummy2.jpg");
        background-position-y: 150px;
        background-position-x: center;
    }

    &:nth-child(3) a {
        background-image: url("/img/dummy/dummy3.png");
        background-position-x: right;
        border-right-width: 0px;
    }

    .widget-title {
        font-size: 44px;
        font-weight: 100;
        margin-bottom: 0px;
        color: $text-dark;
    }
}

.sect-contact {
    padding: 40px 0px;

    .section-title {
        font-size: 18px;
        font-weight: 100;
        color: #909090;
        margin-bottom: 14px;
    }

    .contact-icons {
        a {
            margin-right: 6px;
        }
    }
}

.sect-where {
	padding:40px 0px;
	.section-title {
		display: flex;
		font-size:24px;
		font-weight: 100;
		color:#909090;

		a {
			align-self:center;
			display: inline-block;
			vertical-align: middle;
			margin-left:auto;
			font-size:14px;
			color:$text;
		}
	}

	p {
		text-align: justify;
		margin-top:1.2rem;
		color:$text;
	}
}