.sidebar {
    .categoryMenu,
    .filterMenu {
        background-color: $sidebar-bg-color;
    }

    .list-group-filter {
        padding-bottom: $price-item-padding-y * 2;
    }

    .filterMenu {
        & > div {
            border-bottom: 1px solid $gray-300;
        }
    }

    .list-group {
        a:not(.btn) {
            color: $gray-600;

            &.active {
                color: $primary;
            }

            &:hover {
                text-decoration: none;
            }
        }

        .list-group-item {
            border-width: 0px;
            background-color: transparent;

            &.border-bottom {
                margin-bottom: 1px;
                border-bottom: 1px solid $gray-400;
            }
        }
    }

    .price-group {
        .price-group--item {
            background-color: $component-active-color;
            padding: $price-item-padding-y $price-item-padding-x;

            &:hover {
                cursor: pointer;
            }

            &.active {
                span {
                    color: $list-group-action-color;

                    i {
                        color: $component-active-bg;
                    }
                }
            }
        }
    }

    .custom-control-label {
        &:before {
            background-color:$custom-control-indicator-sidebar-bg;
        }
    }
}

@include media-breakpoint-down(md) {
    .sidebar {
        margin-bottom:2rem;
        .categoryMenu {
            .list-group {
                padding: 0;

                .list-group-item {
                    padding: 15px 30px;
                    border-bottom: 1px solid $gray-400;
                    margin-bottom: 1px;
                    background: url("../img/arrow-right.png") no-repeat;
                    background-position: 96% center;
                    background-size: 6px;
                }
            }
        }
    }
}
