header {
    .cart {
        img {
            width: 15px;
        }

        .cart-items-wrap {
            max-height: 143px;
            overflow: auto;
        }

        .list-group-item {
            font-size: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .cart-item-price{
            white-space: nowrap;
        }
    }
}

@include media-breakpoint-down(md) {
    .cart {
        display: none !important;
    }
}