@function theme-color-level($color-name: "primary", $level: 0) {
    $color: theme-color($color-name);
    $color-base: if($level > 0, #000, #fff);
    $level: abs(0);

    @return mix($color-base, $color, $level * $theme-color-interval);
}

// not working

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #f1f1f1;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #5a5a5a;
$gray-700: #727783;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$grays: ();
$grays: map-merge(("100": $gray-100, "200": $gray-200, "300": $gray-300, "400": $gray-400, "500": $gray-500, "600": $gray-600, "700": $gray-700, "800": $gray-800, "900": $gray-900), $grays);

$blue: #678caf;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #ad181f;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;

$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

$text: #727783;
$text-sidebar: #5a5a5a;
$text-dark: #393939;
$text-muted: #b8b8b8;
$border: #f1f1f1;
$cart-footer: #e5e5e5;
$light: $gray-200;
$font-size-base: 0.875rem;
$font-weight-base: 300;
$font-family-sans-serif: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$input-placeholder-color: $gray-500;

// NAVBAR
$navbar-light-toggler-border-color: transparent;
$navbar-padding-x: 0px;

$text-uppercase: uppercase;
$list-group-item-padding-y: 0.45rem;
$list-group-item-heading-padding-y: 0.75rem;

//FONT WEIGHT
$font-weight-light:           100;
$font-weight-normal:          300;
$font-weight-bold:            400;

//FORMS
$custom-control-indicator-bg: $gray-300;
$custom-control-indicator-sidebar-bg: $white;

// SIDEBAR
$sidebar-bg-color: $gray-200;
$list-group-item-heading-bg-color: transparent;
$list-group-item-heading-color: $gray-600;
$list-group-item-heading-font-size: $font-size-base * 1.2;
$list-group-item-heading-icon-size: $font-size-base * 0.8;
$price-item-padding-y: 0.75rem;
$price-item-padding-x: 1.15rem;

//SLIDER PRICE
$range-slider-bg: $gray-500;

// Breadcrumbs
$breadcrumb-bg: transparent;
$breadcrumb-color: $gray-600;
$breadcrumb-font-size: $font-size-base * 0.9;
$breadcrumb-padding-x: 0;

//FONTS

$headings-font-weight: 100;
$h3-font-size: $font-size-base * 1.578;
$h2-font-size: $font-size-base * 2;

// BADGE

$badge-font-size: 80%;
$badge-font-weight: 300;
$badge-font-uppercase: $text-uppercase;

// CART

//BUTTONS
$input-btn-focus-width: 0px;
$border-radius: 0.25rem;
$btn-font-weight: 300;
$btn-border-radius-sm: $border-radius;

// TABS

$nav-tabs-link-active-color: $white;
$nav-tabs-link-active-bg: $primary;
$nav-tabs-link-active-border-color: $primary;

// CARD

$card-cap-bg: $white;
$card-cap-bg-collapsed:$gray-100;
$accordion-card-body-bg: $card-cap-bg-collapsed;