.list-group-item-heading {
	background-color:$list-group-item-heading-bg-color;
	background-color: transparent;
	padding: $list-group-item-heading-padding-y $list-group-item-padding-x;
	color:$list-group-item-heading-color;
	border-top:1px solid $border;
	font-size: $list-group-item-heading-font-size;

	i {
		font-size: $list-group-item-heading-icon-size;
	}
}